@import '~bootstrap/scss/bootstrap';

body {
  background: url("https://cdn.britannica.com/86/115086-050-0C320EC1/Camel-caravan-Sahara-Morocco.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#global-memes {
  margin: 5px;
  border: 0;
  display: inline-block;
  position: relative;
}

#view-global-memes {
  position: absolute;
  z-index: 10;
  bottom: -16px;
  font-size: 13px;
  text-align: center;
  width: 100%;
}

.upvotes {
  border: solid black 1px;
}

.upvote {
  display: inline-block;
  margin: 0;
  padding-top: 10px;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 10%;
  border: solid black 1px;
}

.total-upvotes {
  display: inline-block;
}

.upvote:hover {
  cursor: pointer;
  background-color: #99c3ff;
}

.voted {
  background-color: #99c3ff;
}

.comment {
  background-color: #edd698;
  margin: 0;
}

.meme-display {
  width: 50%;
  //border: solid red 1px;
  background-color: white;
}

.meme {
  position: relative;
  // border: solid orange 1px;
  width: 100%;
}

.image {
  width: 100%;
}

.text-contain-top {
  font-size: 5vw;
}
.text-contain-bottom {
  font-size: 5vw;
}

.text-top {
  position: absolute;
  text-align: center;
  z-index: 10;
  top: 5%;
  left: 0%;
  width: 100%;
  border: 0;
  color: white;
  font-size: 1em;
  text-shadow:
    -1px -1px black,
    1px -1px black,
    -1px 1px black,
    1px 1px black;
}

.text-bottom {
  position: absolute;
  text-align: center;
  z-index: 10;
  bottom: 5%;
  left: 0%;
  width: 100%;
  border: 0;
  color: white;
  font-size: 1em;
  text-shadow:
    -1px -1px black,
    1px -1px black,
    -1px 1px black,
    1px 1px black;
}

@media only screen and (max-width: 600px) {
  .meme-display {
    width: 100%
  }
  .text-top {
    font-size: 2em
  }
  .text-bottom {
    font-size: 2em
  }
}

.comment {
  border-bottom: solid black 1px;
}

p {
  color: black;
  text-shadow:
    -1px -1px white,
    1px -1px white,
    -1px 1px white,
    1px 1px white;
}

select:hover {
  cursor: pointer;
}

#global-memes:hover {
  cursor: pointer;
}
